{% extends 'base.html.twig' %}

{% block body %}
    <h2>Welcome!</h2>
    
    <div id="homebtn">
        <a class="btn btn-lg btn-primary" href="{{ path('article_list') }}" role="button">View Article List</a>
    </div>
{% endblock %}