{% extends 'base.html.twig' %}

{% block title %}Create a new article!{% endblock %}

{% block body %}
	<h2>Create a new article!</h2>
	{% include 'article/form.html.twig' with { 'submit_text' : 'Create Article' } %}
{% endblock %}